<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>201983642705-9s5kujkspf8ebmpjf19rr27ql3e1itbl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.201983642705-9s5kujkspf8ebmpjf19rr27ql3e1itbl</string>
	<key>API_KEY</key>
	<string>AIzaSyA2ypxeANS8zdUW2VQXIDghjgYMMOaVozY</string>
	<key>GCM_SENDER_ID</key>
	<string>201983642705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.librarry</string>
	<key>PROJECT_ID</key>
	<string>library-1c4f8</string>
	<key>STORAGE_BUCKET</key>
	<string>library-1c4f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:201983642705:ios:11e086e4bc1ea33070bc70</string>
</dict>
</plist>